extends ../layouts/default

block css
    link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")

block content
    .page-header
        a(href='/keystone/galleries?new').btn.btn-default.pull-right= user ? 'Add Album' : 'Sign in to Add Album'
        h1 Album

    if images.length
        -- console.log('images', images)
        each image, i in images
            h3
                | #{image.filename}
                small.text-muted= image._.publishedDate.format('Do MMM YYYY')


    else
        .jumbotron.text-center
            h3(style="margin-bottom:0;margin-top:0;") There are no albums yet.


block page-js