lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

*.min.css

pids
logs
results

npm-debug.log
.DS_Store

node_modules
ACCOUNTS

.env
.idea/
.vscode/
/public/uploads/gallery/img
public/uploads/posts/img/*
!public/uploads/posts/img/upload_*.*
public/uploads/posts/img/*/preview/*

