
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Title
        link(rel='stylesheet', href='/../css/main.css')

        block css
        block head

    body
    
        .error-message-container
            h1 404
            p Запрашиваемая страница не найдена. Вы можете перейти, на главную страницу сайта по сслыке ниже.
            a(href='/') На главную страницу сайта
