//@media (max-width: 1023px) {
//
//  .ct-wrapper {
//    width: 90%;
//  }
//}
@media (max-width: 1023px) {
    .menu-holder li {
        //width: 100px;
        //clear: both;
    }
    .main-wrapper {
        width: 100%;
        float: none;
    }
    .header-wrapper {
        width: 100%;
    }
    .ct-wrapper {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .sidebar-wrapper {
        width: 100%;
        float: none;
        clear: both;
    }
    .footer .footer-section {
        width: 100%;
    }
    .contacts {
        .map,
        .contact-info {
            width: 100%;
        }
    }
}

@media (max-width: 620px) {
    .blog-posts li {
        width: 100%;
    }

    .blog-posts .entry-container {
        padding: 0 10px 8px 10px;
    }

    .blog-posts li {
        border: 1px dashed;
        border-color: #9E9E9E;
    }

    .article-footer .related-content a {
        width: 45%;
    }

    .small-list li {
        width: 46%;
    }
}

@media (max-width: 619px) {
    .menu-holder li {
        float: none;
        a {
            display: block;
        }
    }
        
    .files-audio, .podfm-audio {
        audio {
            width: 100%;
        }
    }
    
    .article-footer .related-content {
        a {
            width: 100%;
        }

        img {
            width: 30%;
            float: left;
            margin-right: 4%;
        }

        .relatedtitle {
            text-align: left;
        }
    }

    .small-list li {
        width: 100%;
    }

    .search-form-default {
        width: 100%;
     }
}

@media (min-width: 1024px) {
    .sidebar-wrapper {}
}

@media (max-width: 1023px) {
    html {
        font-size: 12px;
    }
    a {
        font-size: 1.6rem !important;
    }
}