extends layout.pug

//- можно добавить кол-во фоток в альбоме


block content

    .photo-albums

        ul.polaroids
            if galleries.length
                each gallery, i in galleries
                    //-- console.log('gallery', gallery.uploadFiles[0])
                    li
                        a(title=gallery.name, href='gallery/' + gallery.key)
                            if (gallery.uploadFiles[0])
                                img(src='/uploads/gallery/img/' + gallery.name + '/preview/' + gallery.uploadFiles[0].filename)

            else
                h3(style="margin-bottom:0;margin-top:0;") There are no albums yet.




        //li
        //    a(title='Heading Level', href='photo-album.html')
        //        img(src='../assets/img/banner/banner01.jpg')