doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Церковь Свет Миру - Минск
        script(src='/../bower_components/jquery/dist/jquery.js')
        script(src='/../bower_components/fancybox/source/jquery.fancybox.pack.js')
        link(rel='stylesheet', href='/../bower_components/fancybox/source/jquery.fancybox.css', type="text/css", media="screen" )

        // <link rel="stylesheet" href="js/plugins/bjqs-slider/bjqs.css">
        script(src='/../js/plugins/bjqs-slider/bjqs-1.3.js')

        //link(rel='stylesheet', type="text/css", href='/../bower_components/dropzone/dist/basic.css')
        link(rel='stylesheet' type="text/css" href='/../bower_components/dropzone/dist/dropzone.css')
        script(src='/../bower_components/dropzone/dist/dropzone.js')

        script(src='/../js/main.js')
        script(src='https://www.google.com/recaptcha/api.js')
        
        link(rel='stylesheet', href='/../css/main.css')
        
        block css
        block head

    body
        .img-left
        .img-right
        .header-backgraund
            .header-wrapper.ct-wrapper
                header
                    #header
                        //.social-holder
                        //    ul.social-networks
                        //        li
                        //            a.rss(href='#') rss
                        //        li
                        //            a.youtube(href='#') youtube
                        //        li
                        //            a.twitter(href='#') twitter
                        //        li
                        //            a.pinterest(href='#') pinterest
                        //        li
                        //            a.flickr(href='#') flickr
                        //        li
                        //            a.gplus(href='#') gplus
                        //        li
                        //            a.linkedin(href='#') linkedin
                        //        li
                        //            a.facebook(href='#') facebook
                        //        li
                        //            a.vimeo(href='#') instagram
                        //        li
                        //            a.tumblr(href='#') Tumblr
                        .logo-holder
                            //h1 Церковь Свет Миру
                            img(src="http://localhost:3000/assets/img/header_title_brown.png")
                        .search-form-default
                            form(action='/search', method='get' onsubmit='return true;')
                                input(type='text', placeholder='SEARCH' name='search' maxlength="40" minlength="3" required title="Длина слова для поиска должна быть от 3 до 40 символов")
                                input(type='submit', value=' ')
        .ct-wrapper
            .menu-holder
                .main-menu
                    ul
                        li(class=(viewModel.activeRoute === 'main' ? 'highlight' : ''))
                            a(href='/') Главная


                        each mainCategory, i in viewModel.allCategories
                            li(class=(viewModel.activeRoute === mainCategory.key ? 'highlight' : ''))
                                a(href=siteConst.routes.blog_category + mainCategory.key)=mainCategory.title

                        li(class=(viewModel.activeRoute === 'gallery' ? 'highlight' : ''))
                            a(href=siteConst.routes.gallery) Фото
                        li(class=(viewModel.activeRoute === 'contact' ? 'highlight' : ''))
                            a(href=siteConst.routes.contact) Контакты

                        if loginUser
                            li: a(href='/keystone') Admin UI
                            li: a(href='/keystone/signout') Sign Out
                        else
                            li: a(href='/keystone/signin') Sign In

                    //
                        <select class="nav-select">
                        <option>Navigation</option>
                        <option value="/">Home</option>
                        <option value="#">Beauty Trends</option>
                        <option value="#">Diet &amp; Health</option>
                        <option value="#">DIY Tutorials</option>
                        <option value="#">Fashion</option>
                        <option value="#">Fragrance</option>
                        <option value="#">Hair</option>
                        <option value="#">Inspiration</option>
                        <option value="#">Makeup</option>
                        <option value="#">Skincare</option>
                        </select>
        .ct-wrapper
            .outer-wrapper.clearfix
                block head_content


        include partial/footer.pug
