.blog-comments
    .under-line

    h4 #{viewModel.comments.length} Комментарии:
    .comments-content
        ul
            each comment, i in viewModel.comments
                li.comment-item
                    a(id='comment-id-' + comment.id)
                    .avator-img-container
                        img(src='http://s1.iconbird.com/ico/0912/Radium/w256h2561348762817User.png')
                    .comment-block
                        .comment-header
                            .user
                                | #{comment.authorAnonymName || 'AnonymName'}
                            .datetime 2 Апрель 2016
                        .comment-content= comment.content


        form(action="" method='POST').submit-form
            .head
                input(type='hidden', name='action', value='comment.create')
                input(type="text" autocomplete="off" placeholder='Введите ваше имя' name='username' pattern=".{4,20}" required title="Длина имени должна быть от 4 до 20 символов").user-name
                textarea(rows='5' autocomplete="off" cols='50' placeholder='Введите ваш комментарий...' name='content' maxlength="600" minlength="20" required title="Длина комментария должна быть от 20 до 600 символов")
            .controls.clearfix
                .g-recaptcha(data-sitekey="6Les1RcUAAAAABlxc4-1a7FReWsU_N8nk_5L6mzz")
                input(type='submit' value='Отправить').publish-button









